@import '../../../scss/variables';

.challenge-problem-section {
    margin-bottom: 60px;
}

.challenge-editorial-section {
    margin-bottom: 60px;
}

.code-editor-section {
    position: relative;
    display: block;
}

.code-editor-wrapper {
    padding: 25px;
    background-color: rgb(255, 255, 255);
}

.challenge-problem-wrapper {
    color: $mainTextColor;
    background-color: rgb(255, 255, 255);
}

.challenge-editorial-wrapper {
    color: $mainTextColor;
    background-color: rgb(255, 255, 255);
}

.run-code-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
}

.btn-primary {
    background-color: $backBtnColPr;
    box-shadow: $bswBtnPrimary;
    color: white;

    &:hover {
        background-color: $backBtnColPrH;
    }
}
.btn-normal {
    font-weight: 700!important;
    border-radius: 2px;
    word-spacing: -2px;
    font-size: 15px;
    padding: 10px 25px 10px 25px;
    cursor: pointer;
}

.ui-content {
    display: flex;
    align-items: center;
    justify-content: center;
}
.ui-text {
    order: 1;
}