.challenge-problem-section {
    margin-bottom: 60px;
}

.challenge-editorial-section {
    margin-bottom: 60px;
}

.code-editor-section {
    position: relative;
    display: block;
}

.code-editor-wrapper {
    padding: 25px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 10px;
}

.challenge-problem-wrapper {
    color: rgb(77, 77, 77);
    background-color: rgb(255, 255, 255);
    padding: 25px;
}

.challenge-editorial-wrapper {
    color: rgb(77, 77, 77);
    background-color: rgb(255, 255, 255);
    padding: 25px;
}

.run-code-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
}

.btn-primary {
    background-color: #1ba94c;
    border-color: #1ba94c;
    box-shadow: 0 4px 12px 0 rgba(27, 169, 76, .5);
    color: white;

    &:hover {
        background-color: #08993b;
    }
}
.btn-normal {
    font-weight: 700!important;
    border-radius: 2px;
    word-spacing: -2px;
    font-size: 15px;
    padding: 10px 25px 10px 25px;
    cursor: pointer;
}

.ui-content {
    display: flex;
    align-items: center;
    justify-content: center;
}
.ui-text {
    order: 1;
}

.plT {
    padding-top: 20px;
}
.pmL {
    padding-left: 5px;
}
.pmR {
    padding-right: 5px;
}
.pmB {
    padding-bottom: 5px;
}