@import '../../scss/variables';

.chapters-content-playlist__addition {
    width: $wChCard;
    height: 100%;
    border: 1px solid greenyellow;
}

.chapters-info-banner__container {
    background-color: $mainBackInfoBanner;
    color: white;
}

.banner-block {
    width: $wChCard;
    margin: 1rem;
    padding: 0.625rem;
    height: 100%;
}