@import "../../../scss/variables";
@import "../../../scss/mixins";

.chapter-card {
    background-color: #fff;
    position: relative;
    box-shadow: $bsw;
    width: $wChCard;
    height: 100%;

    &:hover {
        box-shadow: $bswH;
        cursor: pointer;
    }

    .link {
        min-width: 180px;
        align-items: center
    }
}

.chapter-card-form-to-add {
    @include newCard();
    position: relative;
    width: $wChCard;
    height: 100%;

    &:hover {
        box-shadow: $bsWNewCardH;
    }

    button {
        border: 1px solid $borderBtnAddCol;
        color: $textColAddBtn;
        margin-top: 75px;

        &:hover {
            background-color: $backBtnAddColH;
        }
    }

    input {
        border: 1px solid transparent;
        outline: none;
        width: 100%;
        height: 100%;

        &:hover {
            border-color: $inputBorderColor;
        }
    }
}

.chapter-card-title {
    font-size: $fzTitle;
    color: $titleCardColor;

    input {
        border: 1px solid transparent;
        outline: none;
        width: 100%;
        height: 100%;
        font-weight: 500;

        &:hover {
            border-color: $inputBorderColor
        }
    }
}

.chapter-card-detail {
    width: 100%;

    input {
        border: 1px solid transparent;
        outline: none;
        width: 100%;
        height: 100%;

        &:hover {
            border-color: $inputBorderColor;
        }
    }
}

.btn {
    @include MBtnCard(#fff, $fwLarge, $textColBtn, $borderBtnCol);
    padding-right: $pM;
    padding-left: $pM;
    padding-top: $pS;
    padding-bottom: $pS;
    width: $btnCardW;

    &:hover {
        background-color: $backBtnColH;
    }

    &.btn-delete {
        border: 1px solid $borderBtnDelCol;
        color: $btnDeleteColor;

        &:hover {
            background-color: $backBtnDelColH;
        }
    }
}