@import '../../scss/variables';

.challenges-content {
    background-color: $mainBackground;
    color: $additionColor;
    font-size: 14px;
}

.challenges-title {
    font-weight: $fwLarge;
    font-size: 26px;
}

.right-pane-challenges {
    width: 280px;
}

.left-pane-challenges {
    flex: 1;
}

.content-container {
    position: relative;
}

.group-label {
    margin-bottom: 10px;
    color: $mainTextColor;
    text-transform: uppercase;
}

.checkbox-input {
    border: none;
    outline: none;
}

.label-wrap {
    display: inline-flex;
    white-space: nowrap;
}
.label {
    margin-left: 10px;
    line-height: 1.5;
    white-space: normal;
}