.landing-app-wrapper {
    padding: 30px;
    background-color: white;

    img {
        width: 600px;
        height: 500px;
    }
}

.landing-app__forms {
    height: 450px;
    width: 600px;
    box-shadow: 0 0 6px 16px blue;
}