@import '../../../scss/variables';

.tab-item {
    position: relative;
    font-size: 16px;
    outline-width: 0;
    border: 0;
}

.selected {
    background-color: #fff;
}

.tab-item-color {
    color: $mainTextColor;
}
.ui-icon-label {
    display: inline-block;
    vertical-align: middle;
}