@import '../../scss/variables';

.challenge-bsw {
    box-shadow: $bswChSection;
}

.challenge-view-header {
    display: block;
    box-shadow: $bswHeaderCh;
    padding: 1rem;
    color: $mainHeaderColor;
    background-color: white;
}

.container {
    margin: 0 auto;
}

.sections-btn-edit {
    margin-top: -40px;
    margin-bottom: 40px;
}

.panes-container {
    margin: 0 auto;
}

.challenge-sidebar {
    font-size: $fzD;
}
.difficulty-label {
    display: inline;
    margin-right: $mMin;
    color: $mainTextColor;
}
.difficulty-medium {
    color: brown;
}
.difficulty-score {
    color: $additionColor;
}
.difficulty-block {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: $mS;
}

.ui-tooltip-wrapper {
    display: inline;
}

.text-link {
    color: $mainLinkColor;
    cursor: pointer;
}


.right-pane-challenge {
    width: 280px;
}
.left-pane-challenge {
    flex: 1;
    max-width: 900px !important;
}