.challenge-bsw {
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.2);
}

.challenge-view {
    background: #f3f7f7;
}

.challenge-view-header {
    box-shadow: 0.1px 1px 4px 0 #e7eeef;
    padding: 1rem;
    color: rgb(17, 17, 94);
    background-color: white;
}

.container {
    margin: 0 auto;
    padding-right: 20px;
    padding-left: 20px;
}

.panes-container {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding-right: 20px;
    padding-left: 20px;
}

.challenge-sidebar {
    font-size: 14px;
}
.difficulty-label {
    display: inline;
    margin-right: 5px;
    color: #738f93;
}
.difficulty-medium {
    color: brown;
}
.difficulty-score {
    color: #39424e;
}
.difficulty-block {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 10px;
}

.ui-tooltip-wrapper {
    display: inline;
}

.text-link {
    color: #097bbf;
    cursor: pointer;
}


.right-pane-challenge {
    width: 280px;
    margin: 0 0 30px 30px;
}
.left-pane-challenge {
    flex: 1;
}