$bsw: 0 14px 28px 0 rgba(0, 0, 0, .3);
$bswH: 0 7px 20px 0 rgba(0, 0, 0, .3);
$bswNewCard: 0px 14px 28px 0 rgba(0, 44, 165, 0.3);
$bsWNewCardH: 0px 7px 28px 0 rgba(60, 92, 180, 0.3);
$bswChSection: 0 6px 16px 0 rgba(0, 0, 0, 0.2);
$bswHeaderCh: 0.1px 1px 4px 0 #e7eeef;
$bswBtnPrimary: 0 4px 12px 0 rgba(27, 169, 76, .5);

$btnCardW: 200px;
$wChCard: calc(33.33333% - 35px);

$fwSmall: 400;
$fwLarge: 700;

$mS: 0.625rem;
$pS: 0.625rem;
$mM: 1rem;
$mL: 2rem;
$pL: 2rem;
$pM: 1rem;
$pMHalf: 1.5rem;
$mMHalf: 1.5rem;


$mMin: 5px;

$fzD: 14px;

$fzTitle: 2em;
$fzSmallTitle: 1.5em;

$additionColor: #303a47;
$mainTextColor: #617375;
$mainBackground: #f3f7f7;
$mainHeaderColor: rgb(17, 17, 94);
$mainLinkColor: #097bbf;
$mainBackInfoBanner: rgb(32, 60, 184);
$mainNavLinkCol: rgb(213, 213, 213);
$mainNavLinkColAct: #1967d2;
$mainNavLinkActBack: #e8f0fe;
$mainBackNav: #00246b;
$mainProfileImgDef: aquamarine;

$colorError: #d11534;
$colorSuccess: #19bd52;

$textColBtn: rgb(27, 169, 76);
$textColAddBtn: rgb(37, 27, 169);
$borderBtnCol: rgb(29, 167, 77);
$borderBtnDelCol: rgb(194, 0, 0);
$borderBtnAddCol: rgb(29, 41, 173);
$borderBtnChCol: rgba(10, 250, 170, 0);
$backBtnColH: rgba(0, 190, 86, 0.247);
$backBtnAddColH: rgba(1, 4, 167, 0.247);
$backBtnDelColH: rgba(201, 0, 0, 0.247);
$backChBtnColor: rgb(24, 163, 87);

$backBtnColPr: rgb(8, 153, 59);
$backBtnColPrH: rgb(19, 161, 69);

$backChapterBtnColor: rgba(0, 185, 0, 0.199);
$btnDeleteBackColor: rgb(189, 41, 41);
$btnDeleteColor: rgb(194, 23, 23);

$inputBorderColor: rgba(113, 255, 47, 0.26);
$titleCardColor: rgb(54, 54, 54);

$headerBtnSaveBorder: rgb(51, 70, 153);
$headerBtnSaveBack: rgb(225, 230, 255);
$headerBtnSaveColor: rgb(23, 48, 94);
$headerBtnSaveBackH: rgb(238, 243, 255);

$headerBtnCancelBorder: rgb(153, 51, 85);
$headerBtnCancelBack: rgb(255, 225, 225);
$headerBtnCancelColor: rgb(94, 23, 56);
$headerBtnCancelBackH: rgb(255, 238, 238);

$headerBtnEditBorder: rgb(46, 248, 123);
$headerBtnEditBack: rgb(227, 255, 240);
$headerBtnEditColor: rgb(43, 226, 113);
$headerBtnEditBackH: rgb(237, 252, 244);