@import '../../scss/variables';

.profile-container {
    max-width: 1120px;
    margin: 20px auto;
}

.profile-header {
    max-width: 840px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.profile-image {
    border-radius: 50%;
    background-color: $mainProfileImgDef;
    width: 100px;
    height: 100px;
}

.profile-header h1 {
    font-size: 1.75rem;
    font-weight: $fwSmall;
    line-height: 2.25rem;
    text-align: center;
}

.profile-description-abilities {
    text-align: center;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-top: 16px;
}

.profile-challenges {
    align-items: center;
    width: calc(100% + 24px);
    margin: 50px auto;

}

.profile-challenges-item {
    width: 70%;
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 24px;
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #dadce0;
    padding: 12px;

    h1 {
        font-size: 1.75rem;
        font-weight: $fwSmall;
        line-height: 2.25rem;
        margin-bottom: 20px;
    }

    .challenge-card {
        margin-left: 0 !important;
        box-shadow: none !important;
        background-color: #dadce0 !important;
        text-align: start !important;
    }
}