@import "../../../scss/variables";
@import "../../../scss/mixins";

.challenge-card {
    box-shadow: $bsw;
    background-color: white;

    input {
        border: 1px solid transparent;
        outline: none;
        height: 100%;
        width: auto;
        visibility: visible;
    }
}

.preview-margin {
    margin: -30px 0 0;
}

.challenge-card-form-to-add {
    @include newCard();

    button {
        background-color:rgb(3, 182, 236) !important;
    }
}

.challenge-card-header {
    margin: 0;
    overflow: auto;
    flex: 1;
    margin-right: 60px;
    width: auto;
    font-weight: $fwLarge;
    color: $mainTextColor;
}

.challenge-card-title {
    color: $titleCardColor;
    font-weight: $fwSmall !important;
    line-height: 1.4;
    font-size: $fzSmallTitle;

    input {
        font-weight: $fwSmall;
    }
}

.challenge-card-details {
    font-size: 12px !important;
    line-height: 1.5;
    white-space: nowrap;
    font-weight: $fwSmall;
}
.detail-item {
    width: auto;
}

.challenge-card-preview {
    overflow: hidden;
    box-sizing: border-box;
    max-height: 100px;
    width: 60%;
    color: $mainTextColor;
    font-size: 13px;
}

.btn-challenge {
    @include MBtnCard($backChBtnColor, 550, white, $borderBtnChCol);
    width: $btnCardW;

    &.btn-delete-challenge {
        background-color: $btnDeleteBackColor;
    }
}

.difficulty-medium {
    @include challengeDiff(orange);
}
.difficulty-easy {
    @include challengeDiff(rgb(67, 211, 9));
}
.difficulty-hard {
    @include challengeDiff(red);
}