@import '../../../../../scss/variables';

.submission-details-wrapper {
    background-color: white;
    font-size: 18px;
}

.submission-header {
    font-size: 14px;
}


.submission-score, .status-wrap {
    display: inline-block;
    font-size: 14px;
}

.status-wrap {
    font-weight: 500;
}

.section-title {
    font-weight: $fwLarge;
    font-size: 18px;
}

.code-wrap {
    margin-top: 20px;
    border: 1px solid #b7c9cc;
    font-size: 14px;
    max-height: 400px;
    overflow-y: scroll;
    overflow-x: auto;
}

.label {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 0;
    font-weight: 300;
    margin-left: 0 !important;
}

.error {
    color: $colorError;
}
.accepted {
    color: $colorSuccess
}