@import '../../../scss/variables';
@import '../../../scss/mixins';

.challenge-page-header {
    padding-top: 25px;
}

.ui-tabs-wrap {
    align-items: center;
}

.render-list {
    width: 100%;
    align-self: stretch;
}

.tab-header {
    position: relative;
    z-index: 1;
    list-style: none;
}

.btn-container-edit-challenge {
    width: 100%;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.edit-challenge-button {
    @include headerBtn(
        $headerBtnEditBorder,
        $headerBtnEditBack,
        $headerBtnEditColor,
        150px,
        $headerBtnEditBackH,
    );
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}
.cancel {
    @include headerBtn(
        $headerBtnCancelBorder,
        $headerBtnCancelBack,
        $headerBtnCancelColor,
        100px,
        $headerBtnCancelBackH,
    );
}

.save {
    @include headerBtn(
        $headerBtnSaveBorder, 
        $headerBtnSaveBack, 
        $headerBtnSaveColor,
        100px,
        $headerBtnSaveBackH,
    );
}